.currentForecast {

  .currentForecast--location {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1rem;
    @include mediaQuery(768px) {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  .currentForecast--conditions {
    width: 100%;
    font-size: 1.1rem;
    margin: auto auto 2rem;
    display: grid;
    @include mediaQuery(375px) {
      font-size: 1.3rem;
    }
    @include mediaQuery(400px) {
      font-size: 1.7rem;
    }
    @include mediaQuery(768px) {
      font-size: 1.4rem;
    }

    .temp {
      @include flexCenter;
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
      font-size: 6rem;
      letter-spacing: 0;
      text-shadow: 1px 0 5px $text-shadow-color;
      position: relative;
      @include mediaQuery(360px) {
        font-size: 8rem;
      }
      @include mediaQuery(768px) {
        font-size: 9rem;
      }

      .unit {
        font-size: 1.65rem;
        color: $fadecolor;
        text-shadow: none;
        position: absolute;
        top: 55%;
        left: 75%;
        @include mediaQuery(768px) {
          left: 75%;
        }
      }
    }

    .icon {
      width: 8rem;
      @include flexCenter;
      grid-row: 1 / span 1;
      grid-column: 5 / span 2;
      @include mediaQuery(400px) {
        grid-row: 1 / span 1;
        grid-column: 6 / span 1;
      }

      i {
        font-size: 3rem;
        text-shadow: 1px 0 5px $text-shadow-color;
        @include mediaQuery(768px) {
          font-size: 4rem;
        }
      }
    }

    .maxtemp {
      @include flexCenter;
      grid-row: 3 / span 1;
      grid-column: 1 / span 6;
      margin-top: 1rem;
    }

    .mintemp {
      @include flexCenter;
      align-self: start;
      grid-row: 4 / span 1;
      grid-column: 1 / span 6;
      color: $fadecolor;
    }

    .desc {
      @include flexCenter;
      grid-row: 5 / span 1;
      grid-column: 1 / span 6;
      padding-top: 0.5rem;
      @include mqMaxWidthMinHeight(1024px, 650px) {
        margin-top: 1.5rem;
      }
      @include mediaQueryHigh(1080px) {
        margin-top: 1.5rem;
      }
      @include mediaQuery(1024px) {
        margin-top: 1.5rem;
      }
    }

    .feels {
      @include flexCenter;
      grid-row: 6 / span 1;
      grid-column: 1 / span 6;
      padding-top: 0.5rem;
      font-weight: normal;
      color: $fadecolor;
    }

    .humidity {
      @include flexCenter;
      grid-row: 7 / span 1;
      grid-column: 1 / span 6;
      padding-top: 0.5rem;
      font-weight: normal;
      color: $fadecolor;
    }

    .wind {
      @include flexCenter;
      grid-row: 8 / span 1;
      grid-column: 1 / span 6;
      padding-top: 0.5rem;
      font-weight: normal;
      color: $fadecolor;
    }
  }
}