.night {
  background-color: $background-color;
  background-image: url("../background-gif/night.gif");
}

.clear-sky {
  background-color: $background-color;
  background-image: url("../background-gif/clear-sky.gif");
}

.broken-clouds {
  background-color: $background-color;
  background-image: url("../background-gif/broken-clouds.gif");
}

.few-clouds {
  background-color: $background-color;
  background-image: url("../background-gif/few-clouds.gif");
}

.heavy-rain {
  background-color: $background-color;
  background-image: url("../background-gif/heavy-rain.gif");
}

.light-rain {
  background-color: $background-color;
  background-image: url("../background-gif/light-rain.gif");
}

.thunder-storm {
  background-color: $background-color;
  background-image: url("../background-gif/thunder-storm.gif");
}

.fog {
  background-color: $background-color;
  background-image: url("../background-gif/fog.gif");
}

.snow {
  background-color: $background-color;
  background-image: url("../background-gif/snow.gif");
}




