$font-color: #fff;
$background-color: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
$fog-color: rgb(60, 200, 200); 
$night-color: rgb(60, 20, 199); 
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$bordercolor: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadowcolor: #fff;
$text-shadow-color: #000;
$fadecolor: rgba(255, 255, 255, 0.6);